

#header{
    display: flex;
    position: fixed;
    align-self: center;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 1;
    animation-name: change-border-radius;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
}


  
  @keyframes change-border-radius {
    100% {
      border-radius: 100px;
      height: 10%;
      width: 95%;
      margin-top: 25px;
      margin-left: 2.5%;
      
      
    }
  }


#logo{ 
    width: 10%;
}
.hdrbtn{
  
  background-color: #151515;
  width: fit-content;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  border-radius: 90px;
  border: none;
  color: #F5F5F5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  transition: 0.1s all;
  font-size: medium;
}

.hdrbtn:hover {
  background-color: #F5F5F5;
  border: #151515 3px solid ;
  color: #151515;

}
.menu-items{
  top: 100px !important;
  display: flex;
  
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content !important;
  height: auto !important;
  padding: 3px;
  background-color: #F5F5F5;
  border-radius: 25px;
  align-self: center;
  margin-top: 30px;
  animation-name: menu-item-open ;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  
  
}

@keyframes menu-item-open {
  100%{
    margin-top: 9rem;
  }
}
@media (max-width: 375px) {
  .hdrbtn{
  
    background-color: #151515;
    width: fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    border-radius: 90px;
    border: none;
    color: #F5F5F5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: 0.1s all;
    font-size: small;
  }
}

@media (max-width: 320px) {
  .hdrbtn{
  
    background-color: #151515;
    width: fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    border-radius: 90px;
    border: none;
    color: #F5F5F5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: 0.1s all;
    font-size: x-small;
  }
}

#menu-box{
  display: flex;
  justify-content: center;
}
